extends layout

block content
  if user
    p Hello #{user.email} 
    p You are already logged in.
    a(href='/restricted') You have access to the restricted page!
  else
    h2 Register a new account
    form(role='form', method='post', action='/register', name='userForm')
      .form-group
        label(for='email') Email
        input.form-control#email(type='email', name='email', autofocus, required)
      .form-group
        label(for='password') Password
        input.form-control#password(type='password', name='password', required)
      .form-group
        button.btn.btn-primary(type='submit') Submit
    a.h3(href='/login') Already have an account? Click here to log in

