extends layout
block content
  if user
    h2 Hello #{user.email} 

  h2 Ready to parse some strings?
  h5: a(href='/') Return home
  .container-fluid
    .row
      .form-group
        label(for='string') String
        input.form-control#string(type='text', name='string', autofocus)
      .form-group
        button.btn.btn-primary#button Parse that string!
        .row
          .col-xs-6
            h3 Count:
            pre#count
          .col-xs-6
            h3 Min and Max:
            pre#minAndMax

  script(src='/js/stringParser.js')

